---
import Layout from '../layouts/Layout.astro';
import Catalogue from '../components/Catalogue.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<Layout title="Tous les Cracks - JeuxCracks">
    <Header />

    <main class="page-padding">
        <Catalogue />
    </main>

    <Footer />
</Layout>

<style>
    .page-padding {
        padding-top: 100px;
        background: #060612;
        min-height: 100vh;
    }
</style>