---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Catalogue from '../components/Catalogue.astro';
---

<Layout title="Tous les Cracks - GameEasy">
    <Header />
    
    <main class="page-padding">
        <Catalogue />
    </main>

    <Footer />
</Layout>

<style>
    .page-padding {
        padding-top: 80px; /* Ajusté pour le Header sticky */
        background: #060612;
        min-height: 100vh;
    }
</style>