---
import Layout from '../layouts/Layout.astro';
import Catalogue from '../components/Catalogue.astro';
---
<Layout title="Tous les Cracks - JeuxCracks">
    <div class="page-padding">
        <Catalogue />
    </div>
</Layout>

<style>
    .page-padding {
        padding-top: 100px; /* Pour ne pas que le catalogue soit caché sous le header fixe */
    }
</style>