---
import Layout from '../layouts/Layout.astro';
import Catalogue from '../components/Catalogue.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Welcome from '../components/Welcome.astro';
---

<Layout title="JeuxCracks - Accueil">
    <Header />

    <main>
        <Welcome />
        </main>

    <Footer />
</Layout>