---
const { id } = Astro.props;
---
<div style="text-align: center; margin: 20px 0;">
  <span style="font-size: 10px; color: grey;">ADVERTISEMENT</span>
  <div id={ezoic-pub-ad-placeholder-${id}}></div>
</div>